
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_log.css') }}">
</head>
<body>
<div class="login-page">
  <div class="form">

      <h1>Admin Login </h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="/" class="login-form" method="post">
      <input type="text" placeholder="Enter Your Username" name="username" required="" />
      <input type="password" placeholder="Enter Your Password" name="password" required="" />
      <button type="submit" name="sb">login</button>

    </form>


       </div>
</div>
</body>
<script type="text/javascript" src="assets/js/abc.js"></script>
</html>